body {
    font-family: "Segoe UI Light";
    font-size: 120%;
}

.margin {
    margin-top: 10%;
}

header {
    font-family: "Segoe UI Light";
    font-size: 140%;
}

h1 {
    text-align: center;
}

main {
    margin-left: 15%;
    margin-right: 15%;
    font-size: 115%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.mainmenu li {
    float: left;
    text-align: center;
    margin-left:  5%;
}

.mainmenu a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.submenu {
    display: none;
    position: absolute;
    width: 140px;
    background-color: black;
    border: 1px solid;
    font-size: 20px;
}

ul.submenu > li {
    display: inline-block;
}

ul.submenu > li > a {
    display: block;
    padding: 1px;
    text-decoration: none;

}

ul.submenu > li > a:hover {
    color: aqua;
}

ul.mainmenu > li:hover > ul {
    display: block;

}

.mainmenu a:hover {
    color: aqua;
}

.navbar-logo {
    display: inline-block;
    padding-left: 100px;
}

.button {
    font-size: 100%;
    margin-top: 20px;
}


