body {
    font-family: "Segoe UI Light";
    margin: 0;
    font-size: 120%;
    overflow-x: hidden;
}

.margin {
    margin-top: 10%;
}

header {
    font-family: "Segoe UI Light";
    font-size: 140%;
}

.h1 {
    text-align: center;
}

.h2 {
    font-family: Arial;
}

main {
    margin-left: 15%;
    margin-right: 15%;
    font-size: 115%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.mainmenu li {
    float: left;
    text-align: center;
    margin-left: 5%;
}

.mainmenu a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.submenu {
    text-align: center;
    margin-left: 5%;
    display: none;
    position: absolute;
    width: 200px;
    line-height: 50px;
    background-color: #333;
    border: 2px solid;
    font-size: 20px;
}

ul.submenu > li {
    display: inline-block;
}

ul.submenu > li > a {
    display: block;
    padding: 1px;
    text-decoration: none;
}

ul.submenu > li > a:hover {
    color: aqua;
}

ul.mainmenu > li:hover > ul {
    display: block;

}

.mainmenu a:hover {
    color: aqua;
}

.navbar-logo {
    display: inline-block;
    padding-left: 100px;
}

p {
    animation-duration: 2s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

.button {
    font-size: 100%;
    margin-top: 20px;

}

.button:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.center {
    display: block;
    margin: 0 auto;
}

.button8 {
    line-height: 35px;
    height: 40px;
    width: 320px;
    display: inline-block;
    color: black;
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    padding: .5em 2em;
    outline: none;
    border: 2px solid;
    border-radius: 1px;
    transition: 0.2s;
    text-align: center;
}

.file-upload {
    display: none;
}

a.button9 {
    line-height: 35px;
    height: 40px;
    width: 325px;
    display: inline-block;
    color: black;
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    padding: .5em 2em;
    outline: none;
    border: 2px solid;
    border-radius: 1px;
    transition: 0.2s;
    text-align: center;
}

.footer {
    margin-top: 5px;
    background-color: #333;
    color: white;
    margin: 0;
}

.white {
    color: white;
}

a.button8:hover {
    background: lightgray
}

a.button8:active {
    background: blueviolet
}

a.button9:hover {
    background: lightgray
}

a.button9:active {
    background: blueviolet
}

.w3-input {
    font-family: "Segoe UI";
    font-size: 20px;
    padding: 8px;
    display: block;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 80%
}

.w3-input-big {
    font-family: "Segoe UI";
    font-size: 20px;
    padding: 8px;
    display: block;
    border: none;
    height: 400px;
    border-bottom: 1px solid #ccc;
    width: 80%
}

.w3-border-0 {
    border: 0 !important
}

.w3-border {
    border: 1px solid #ccc !important
}

.w3-border-top {
    border-top: 1px solid #ccc !important
}

.w3-border-bottom {
    border-bottom: 1px solid #ccc !important
}

.w3-border-left {
    border-left: 1px solid #ccc !important
}

.w3-border-right {
    border-right: 1px solid #ccc !important
}

#left {
    display: block;
    float: left;
    top: 0;
    width: 32%;
    margin-left: 18%
}

#right {
    display: block;
    float: right;
    top: 0;
    width: 32%;
    margin-right: 18%
}

.w {
    padding-top: 35px;
}

.w h4 {
    padding-top: 25px;
}



